@keyframes wiggle {
    0%, 25% {
      transform: translateX(5px);
    }
    25% {
      transform: translateX(-5px);
    
    }
    50% {
      transform: translateX(5px);
     
    }
    75% {
      transform: translateX(-5px);
    
    }
  }
  
  .cat-card {
    transition: transform 0.2s ease-in-out;
  }
  
  .cat-card:hover {
    animation: wiggle 0.5s ease-in-out;
  }
  